* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Space Grotesk', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    background-color: #2E3047;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    padding-inline: 2rem;
    box-shadow: 0px 0px 16px #FFFFFF70;
    backdrop-filter: blur(4px);
    z-index: 99;
}

header > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header .logo {
    height: 40px;
    width: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

header > span > p {
    font-family:'Gugi', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
    font-size: 2rem;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2.5rem;
}

nav > ul > li > a, .contactBtn, .contactBtnM {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

nav > ul > li > a:hover, .contactBtnM:hover {
    color: #FFF;
}

.contactBtn {
    padding: 6px 8px;
}

.contactBtn:hover {
    background-color: #2E304A;
    color: #FFF;
    border: 1px solid #FFF;
}

.contactBtn, .contactBtnM {
    background-color: #FFF;
    color: #2E304A;
    font-weight: bold;
}

.showNavBtn, .navBlur, .cancelNav, .contactBtnM {
    display: none;
}

main {
    height: 100dvh;
    width: 100dvw;
    color: #FFF;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

main::-webkit-scrollbar {
    display: none;
}

section {
    height: 100dvh;
    padding-top: 3.75rem;
    padding-inline: 2rem;
    scroll-snap-align: center;
}

section:nth-child(even) {
    background-color: #2E304A;
}

/* HOME STYLING */
#home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
}

#home > article > p:first-child {
    font-size: 2.5rem;
    margin-bottom: 1.5rem
}

#home > article > p:nth-child(2) {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.25rem;
    margin-bottom: 2.25rem;
}

#home > article > a {
    color: #FFF;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 24px;
    background-color: #337ab7;
}

#home .profile {
    height: 330px;
    width: 330px;
    border: 24px solid #1F2031;
}

#home > article > a.myProjectsBtn {
    display: block;
    position: relative;
    width: fit-content;
    overflow: hidden;
}

#home > article > a.myProjectsBtn::after {
    content: "My Projects";
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 5;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 24px;
}

#home > article > a.myProjectsBtn:hover::after {
    color: black;
    font-weight: bold;
}

#home > article > a.myProjectsBtn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    z-index: 5;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 24px;
}

#home > article > a.myProjectsBtn:hover::before {
    left: 0%;
}

/* ABOUT STYLING */
#aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 20px;
}

#aboutMe .profileM {
    display: none;
}

#aboutMe > .bio > article > p {
    margin-block: 1rem;
    opacity: 0.8;
}

#aboutMe > .skillSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#aboutMe > .skillSet > img, #aboutMe .profileM {
    border: 40px solid #1F2031;
    height: 300px;
    width: 300px;
    transform: rotate(270deg);
    margin-bottom: 32px;
}

#aboutMe > .skillSet > span > img {
    scale: 0.6;
}

#aboutMe > .skillSet > span > img:first-child {
    scale: 0.7;
}

#aboutMe > .skillSet > span > img:last-child {
    margin-left: 2px;
}

#aboutMe > .skillSet > span {
    display: flex;
    flex-direction: row;
}

/* PROJECTS STYLING */
#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#projects > button {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 24px;
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
}

#projects > button:hover {
    scale: 1.5;
}

#projects > .arrowLeft {
    left: 25px;
}

#projects > .arrowRight {
    right: 25px;
}

#projects > .projectsContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

#projects > .projectsContainer::-webkit-scrollbar {
    display: none;
}

#projects > .projectsContainer > span > div {
    display: block;
    position: relative;
    height: 444px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#projects > .projectsContainer > span > div > img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#projects > .projectsContainer > span > div > img, #projects > .projectsContainer > span > div > h3 {
    z-index: 5;
}

#projects > .projectsContainer > span > div > article {
    position: absolute;
    top: 35px;
    width: 100%;
    height: 325px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #1F2031;
    border-radius: 6px;
    padding: 1rem 1.3rem;
    gap: 8px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#projects > .projectsContainer > span > div > article > p {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#projects > .projectsContainer > span > div > img:hover {
    width: 340px;
}

#projects > .projectsContainer > span > div > img:hover + h3 + article {
    transform: translateY(85px);
}

#projects > .projectsContainer > span > div > img:hover + h3 + article > p {
    opacity: 1;
}

/* CONTACT STYLING */
#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#contact > .contactDetails, #contact > .contactDetails > span {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#contact > .contactDetails > span > label {
    margin-top: 8px;
    opacity: 0.75;
    z-index: 1;
}

#contact > .contactDetails .socialLinks > a {
    color: #FFF;
}

#contact > .contactDetails .socialLinks > a > i {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#contact > .contactDetails .socialLinks > a > i:hover {
    transform: rotate(16deg);
    scale: 1.2;
}

#contact > .contactDetails .socialLinks > a:first-child > i:hover {
    color: #1877F2;
}

#contact > .contactDetails .socialLinks > a:nth-child(2) > i:hover {
    color: #7289da;
}

#contact > .contactDetails .socialLinks > a:last-child > i:hover {
    color: #000;
}

#contact > form label {
    margin-top: 8px;
}

#contact > form, #contact .messageContainer, #contact > form > div > span {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#contact > form > div {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#contact > form input, #contact > form textarea {
    background-color: #1F203190;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 20px;
    padding: 8px 12px;
    color: #FFF;
    width: 250px;
}

#contact > form input:focus, #contact > form textarea:focus {
    outline: 1px solid burlywood;
}

#contact > form textarea {
    height: 100px;
    width: 100%;
    resize: none;
}

#contact > form textarea::-webkit-scrollbar {
    width: 15px;
}

#contact > form textarea::-webkit-scrollbar-track {
    background: #FFFFFF10;
    border-radius: 5px;
}

#contact > form textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#contact > form textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: grab;
}

#contact > form button {
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px 4px;
    margin-top: 8px;
}

#errorMessage {
    display: none;
    color: red;
    font-size: 12px;
    text-align: center;
}

#submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitBtn > span {
    display: none;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-top: 2px solid #F0F0F0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

footer {
    text-align: center;
}

/* STYLE AUTOFILL INPUT | SPECIFICALLY TYPE EMAIL */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #1F2031 inset;
    -webkit-text-fill-color: #FFF;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* FOR TABLET SCREENS AND SMALLER*/
@media screen and (max-width: 992px){
    #home > article > a.myProjectsBtn {
        margin-inline: auto;
    }

    #aboutMe {
        flex-direction: column-reverse;
        font-size: 16px;
        gap: 8px;
    }

    #aboutMe .profileM {
        display: block;
        float: left;
        height: 225px;
        width: 225px;
        border: 32px solid #1F2031;
        margin: 1.5rem;
    }

    #aboutMe .profile {
        display: none;
    }

    #projects > button {
        display: none;
    }

    #projects > .projectsContainer {
        height: 70dvh;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: scroll;
        justify-content: center;
    }

    #projects > .projectsContainer *::-webkit-scrollbar {
        display: none;
    }

    #projects > .projectsContainer > span > div {
        width: 250px;
        height: 300px;
    }

    #projects > .projectsContainer > span > div > img {
        height: 150px;
        width: 250px;
        object-fit: cover;
        border-radius: 8px;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    #projects > .projectsContainer > span > div > img:hover {
        width: 250px;
    }

    #projects > .projectsContainer > span > div > article {
        top: 0px;
        height: 300px;
    }

    #projects > .projectsContainer > span > div > h3, #projects > .projectsContainer > span > div > article > p {
        width: 100%;
        padding-inline: 1rem;
        overflow-x: scroll;
        white-space: nowrap;
    }

    #projects > .projectsContainer > span > div > img:hover + h3 + article {
        transform: translateY(0px);
    }

    #projects > .projectsContainer > span > div > article > p {
        opacity: 1;
        padding-inline: unset;
    }

    #contact {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }

    #contact > .contactDetails {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        border-bottom: 2px solid #FFFFFF60;
        padding-bottom: 2rem;
    }

    #contact > .contactDetails > h1 {
        flex-basis: 100%;
        text-align: center;
    }
}

/* FOR MOBILE SCREENS */
@media screen and (max-width: 640px){
    header .logo {
        height: 32px;
        width: 32px;
        border-radius: 0.75rem;
    }
    
    header > span > p {
        font-size: 24px;
    }

    nav {
        position: fixed;
        top: 60px;
        left: 0px;
        height: 0px;
        width: 100%;
        overflow: hidden;
    }

    nav.active {
        height: 256px;
        transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    nav > ul {
        flex-direction: column;
        text-align: center;
        gap: 0px;
    }

    nav > ul > li > a {
        display: grid;
        place-items: center;
        height: 64px;
        width: 100%;
        color: rgba(255, 255, 255, 1);
    }

    nav > ul > li > a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .contactBtnM:hover {
        color: #FFF;
    }

    .showNavBtn, .navBlur, .cancelNav{
        display: grid;
        place-items: center;
        background-color: transparent;
        border: none;
        color: #FFF;
    }

    .contactBtn {
        display: none;
    }

    .contactBtnM {
        display: grid;
    }

    .showNavBtn {
        font-size: 1.5rem;
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .showNavBtn.active {
        transform: rotate(-180deg);
    }

    .navBlur {
        position: fixed;
        top: 0; left: 0;
        height: 0px;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 90;
    }

    .navBlur.active {
        height: 316px;
    }

    .cancelNav {
        position: fixed;
        top: 0; left: 0;
        height: 0px;
        width: 0px;
    }

    .cancelNav.active {
        height: 100%;
        width: 100%;
    }

    #home {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "profile" "article";
        place-items: unset;
    }

    #home .profile {
        height: 200px;
        width: 200px;
        border: 24px solid #1F2031;
        grid-area: profile;
        place-self: center;
    }

    #home > article {
        text-align: center;
    }

    #home > article > p:nth-child(2) {
        margin-bottom: 3rem;
    }

    #aboutMe {
        gap: unset;
    }

    #aboutMe > .bio > article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aboutMe .profileM {
        display: block;
        float: unset;
        height: 150px;
        width: 150px;
        border: 24px solid #1F2031;
        margin: 1rem;
    }

    #aboutMe > .bio > article > h2 {
        font-size: 16px;
        text-align: center;
    }

    #aboutMe > .bio > article > p {
        font-size: 12px;
        margin-block: 0.5rem;
    }

    #contact > form input {
        width: 150px;
    }
}